*{
    margin: 0px;
    padding: 0px;
    border: none;
    
}
body{
    margin: 40px 100px ;
    border-width: 10px 0 0 0;
    border-style: solid;
    border-color: blue;
    }

.container{
    display: flex;
    gap: 20px;
    flex-direction: row;
    width: fit-content;
}
.main{
    width: 70%;
}


.top{
    background-color: yellow;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
    margin-left: 10px;
    position:absolute ;
    top:-4px
}
.top-con{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    width: fit-content;
}


nav{
    background-color: azure;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: none;
}
nav>a{
    display: flex;
    justify-content: flex-end;
    gap: none;
}
h1,h2{
    color: blue;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    
}
a {
    display: flex;
    transition: box 0.3s, 0.3s;
    color: blue;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none; 
    
}

a:hover{
    background-color:orange ;
    cursor: pointer;
    opacity: 0.7;
}
.table{
    border-width: 5px 0;
    border-style: solid;
    border-color: blue ;
    margin: 15px 0 ;
    width: 500px;
    position: relative;
    padding: 10px 0 10px  0;
    height: 100%;

}

p li{
    line-height: 20px;
}
.table>ul{
    list-style: none;
}
.table>h3{
    text-align: center;
}
.btn{
padding: 10px;
display: inline-block;
bottom:15px;
right: -200px;

position: absolute;
}


/* .picture{
    width: max-content;
} */